footer {
    position: fixed;
    bottom: 0; left: 0; right: 0;    
    .container {
        color: var(--gray--700);
        padding: calc(var(--gap) * 1) 0;
        border-top: 1px solid var(--gray--700);
        display: flex;
        justify-content: space-between;
        align-items: center;

        nav {
            a {
                color: var(--gray--700);
                &:hover {
                    color: var(--blue--700);
                }
            }
        }
    }
}