@property --deg{
    syntax: "<angle>";
    inherits: true;
    initial-value: 0deg;
}
.watch {
    color: var(--white);
    width: 400px;
    height: 400px;
    aspect-ratio: 1/1;
    margin: 0 auto;
    border-radius: 50%;

    display: grid;
    place-items: center;

    .seconds {
        display: grid;
        place-items: center;

        padding: calc(var(--gap) * 1);
        aspect-ratio: 1/1;
        border-radius: 50%;

        width: 100%;
        height: 100%;

        background: conic-gradient(
            from var(--deg) at center,
            var(--white),
            var(--green--600),
            var(--black)
        );
        animation: autoRotate 60s linear infinite;

        .minutes {

            display: grid;
            place-items: center;

            padding: calc(var(--gap) * 4);
            aspect-ratio: 1/1;
            border-radius: 50%;

            width: 100%;
            height: 100%;
            background: conic-gradient(
                from var(--deg) at center,
                var(--white),
                var(--green--600),
                var(--black)
            );
            animation: autoRotate 60s linear infinite;
            .hours {

                display: grid;
                place-items: center;

                padding: calc(var(--gap) * 6);
                aspect-ratio: 1/1;
                border-radius: 50%;

                // text-align: center;

                width: 100%;
                height: 100%;
                background: conic-gradient(
                    from var(--deg) at center,
                    var(--white),
                    var(--green--600),
                    var(--black)
                );
                animation: autoRotate 60s linear infinite;
                .time {
                    display: grid;
                    place-items: center;

                    padding: calc(var(--gap) * 2);
                    aspect-ratio: 1/1;
                    border-radius: 50%;

                    text-align: center;

                    width: 100%;
                    height: 100%;
                    background-color: var(--green--900);
                }
            }
        }
    }
}

@keyframes autoRotate {
    to {
        --deg:360deg;
    }  
}